body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: #f0f0f0; */
  background-image: url("C:/prj/vscode/images/t15.jpg");
  background-size: cover;
}
/* 전체 컨테이너 */
.container {
  width: 680px;
  height: 450px;
  margin: 250px auto;
}
/* 로고, 문구 컨테이너 */
.brand-container {
  width: 50%;
  height: 25%;
  padding: 0;
  text-align: center;
  display: inline-block;
}
/* 로고 아래 문구 스타일 */
.brand-container p {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  color: white;
}

.brand-container img {
  border-radius: 40px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
/* 우측 문구 컨테이너 */
.phrase-container {
  float: left;
}
.phrase-container img{
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}
/* 입력 폼 컨테이너 */
.login-container {
  border-radius: 5px;
  height: 65%;
  width: 40%;
  background-color: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-top: 30px;
  margin-right: 30px;
  float: right;
  padding-top: 20px;
}
/* 아이디/비번 입련 칸 스타일*/
form input[type="text"],
form input[type="password"] {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

form input[type="text"] {
  margin-top: 20px;
}

/* 로그인 정보 저장 체크박스 */
form label {
  display: inline-block;
  padding-bottom: 10px;
  font-size: small;
}

/* 로그인 버튼 */
form button {
  width: 90%;
  padding: 10px;
  background-color: #FF7F00;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* 아이디/비번 찾기, 회원가입 */
form p {
  margin-top: 20px;
}

form p a {
  text-decoration: none;
  font-size: small;
}
.logo-text {
  text-align: right;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-style: italic;
  background: radial-gradient(
  circle,
  rgb(255, 255, 255) 0%,
  rgb(255, 126, 201) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}